footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  background: #307aba;
  width: 100%;
  background-color: #F5F5F5;
}
footer a{
  color: black;
  padding-top: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.App-header__image {
  width: 50%;
  margin-bottom: -34px;
}
@media (min-width: 360px) {
  .App-header__image {
    margin-bottom: -32px;
  }
}
@media (min-width: 375px) {
  .App-header__image {
    margin-bottom: -34px;
  }
}
@media (min-width: 411px) {
  .App-header__image {
    margin-bottom: -37px;
  }
}
@media (min-width: 425px) {
  .App-header__image {
    margin-bottom: -38px;
  }
}
@media (min-width: 427px) {
  .App-header__image {
    width: 30%;
    margin-bottom: -42px;
  }
}
@media (min-width: 1024px) {
  .App-header__image {
    width: 30%;
    margin-bottom: -56px;
  }
}
@media (min-width: 1440px) {
  .App-header__image {
    width: 30%;
    margin-bottom: -80px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 60px 60px 0 0;
  background: #F5F5F5;
}

.main-container__btn-up {
  background: #47A871;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 79px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  width: 237px;
  height: 52px;
}

.main-container__btn {
  background: #47A871;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 27px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  width: 237px;
  height: 52px;
}

.main-container__btn:hover,
.main-container__btn-up:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.main-container__btn-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 27px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 26px;
  cursor: pointer;
  width: 237px;
  height: 52px;
  background: transparent;
  border: 2px solid #F5F5F5;
}
.main-container__btn-app-up{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 26px;
  cursor: pointer;
  width: 237px;
  height: 52px;
  background: transparent;
  border: 2px solid #F5F5F5;
}
.container-apps{
  background: #47A871;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 67px;
}

.apps-title {
  color: white;
  padding: 0;
  margin: 30px 0 0 0;
}
a {
  font-size: 15px;
  font-weight: bold;
}
