body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #307aba;
  background-image: linear-gradient(
    43deg,
    #307aba 0%,
    #4e71ba 46%,
    rgb(44, 12, 133) 100%
  );
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #94c453;
}
body::-webkit-scrollbar {
  width: 10px;
  background: #307aba;
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 60px;
  background: #5e31d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
